
/* ---- reset ---- */

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
}


/* ---- typography ---- */

body {
  color: #111;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 147%;
}

h1 {}

h2 {}

h3 {}

p {
  margin: 0;
}



@media (min-width: 768px) {
  .container {
    max-width: 728px;
    margin: 0 auto;
  }
}




/* ---- components ---- */

.button {
  width: 100%;
  background-color: blue;
  color: #fff;
  border: 1px solid #fff
}

.button-alt {
  color: blue;
  background-color: #fff;
}

/* ---- section ---- */

body {
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
  display: flex;
}

.game-container {
  display: flex;
  width: 600px;
  height: 600px;
  border: 1px solid black;
  background-image: url('./assets/trolley.jpg');
  background-size: cover;
  align-items: center;
  justify-content: center
}

.splash-screen {
  display: flex;
  width: 100vh;
  height: 100vh;
  margin: 0;
  padding: 0;
  background-image: url('./assets/splash.jpg');
  background-size: cover;
  align-items: center;
  justify-content: center
}

.game-over-screen{
  width: 600px;
  height: 600px;
  border: 1px solid black;
}